<!--
Title:  not-found.component.html
Author: John Vanhessche
Date 10 February 2023
Description:  HTML file for the not-found component.
-->

<div fxLayout="column">

    <mat-card fxFlex style="margin-top: 5%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">
    
        <mat-card-title>
            <img src="./assets/404 page.png" />
        </mat-card-title>

        <mat-card-content style="text-align: center; padding-left: 30%;">
            <button mat-raised-button color="accent" routerLink="/">Click here, we'll get you back</button>
        </mat-card-content>
    
    </mat-card>
</div>