<!--
Title:  about.component.html
Author: John Vanhessche
Date 21 January 2023
Description:  HTML file for the about component.
-->

<div class="composer-container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="align-center">Joseph Haydn</h3>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-3">
            <img class="main-img" src="../../assets/380px-Joseph_Haydn.jpg" alt="Joseph Haydn">
        </div>
        <div class="col-sm-9">
            <p>
                Joseph Haydn (1732-1809) was an Austrian composer during the Classical period, known for his compositions in symphony 
                and innovative use of the string quartet.  He’s often referred to as the "Father of the String Quartet".  Born of humble beginnings, Haydn 
                showed early promise as a chorist.  However, as his vocal range changed due to age he turned his attention to composition, 
                citing Bach and Mozart inspirations.  Haydn’s career peaked in the early 1790’s while in London, as his work was in high demand by the public.  
                By 1800 he was in declining health, eventually retiring in 1803.  He passed away in 1809.
                <em class="apa-reference"><a href="https://commons.wikimedia.org/wiki/File:Joseph_Haydn.jpg" target="blank">Source: Wikimedia Commons</a></em>
            </p>
        </div>
    </div>
</div>

