<!--
Title:  about.component.html
Author: John Vanhessche
Date 2 February 2023
Description:  HTML file for the about component.
-->

<div fxLayout='row-wrap'>
    <div fxFlex>
        <div fxLayout="column">
            <div>
                
            </div> 
    </div>
</div>
    <div fxFlex>
        <h1 class="blue">About</h1>
        <img src="../../assets/Picture1.png" />
        <p>
            My name is Mark Wilson, and I’m a financial consultant with over 7 years of banking and financial management experience.  I’ve worked in various sectors including asset acquisition, investment servicing, bonds and securities trading, and asset and liability management.  I’m currently a financial consultant and my services are in demand by many fortune 500 companies.  I received a bachelor’s degree in economics from Ohio State University.  
            I started my consulting firm – Ravenclaw Financial – to help institutions with assistance on difficult and complex financial problems.  I found I had a knack for looking at financial issues in a unique way.  To date my services have helped financial firms manage over $300 billion in assets allocation with an average weighted average of approximately 3.64%.  To date I have beat the S&P outlook estimates by over 1.5%!!
            Because I’m a big Harry Potter nerd, I chose to name my firm after one of the houses on that series.  For those who aren’t familiar with harry potter, the Ravenclaw members are intensely intelligent people, who have a unique ability to think outside the box (sound familiar?).  Ravenclaws are not in it for the money, but rather are driven by deeper, more personal reasons.  They are clever and outspoken, and there is no problem that they haven’t been able to solve.  
            Personally, I’m from the Midwest, married to my wife Rachel of 8 years.  We have a home in Ohio and extended family in the region.  We live on a small farm with our two terriers, where we raise chickens and tend to a small garden.
        </p>
       
    </div>
</div>

