<!--
Title:  contact.component.html
Author: John Vanhessche
Date 14 January 2023
Description:  HTML file for the contact component.
-->

<div class="contact-container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Welcome to the Contact Page</h3>
        </div>
    </div>
    <div class="row">
<!--left side.  need to troubleshoot icon not displaying-->
        <div class="col-sm-6">
            <div class="location row">
                <div class="col-sm-12">
                    <h1><i class="bi bi-binoculars"></i></h1>
                </div>
            </div>
        <div class="location row">
            <div class="col-sm-12">
                <ul>
                    <li>Bellevue University</li>
                    <li>1000 Galvin Rd</li>
                    <li>Bellevue, NE 68005</li>                    
                </ul>
            </div>
        </div>             
    </div>
<!--right side, need to troubleshoot icon not displaying-->
    <div class="col-sm-6">
        <div class="col-sm-6">
            <div class="location row">
                <div class="col-sm-12">
                    <h1><i class="bi bi-envelope"></i></h1>
                </div>
            </div>
        <div class="location row">
            <div class="col-sm-12">
                <ul class="list-group">
                    <li class="list-group-item border-0">Phone: 402-555-5555</li>
                    <li class="list-group-item border-0">Fax: 402-555-5556</li>
                    <li class="list-group-item border-0">Pager: 402-555-5557</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
