--- html ---
<!--
Title:  composer-details.component.html
Author: John Vanhessche
Date 21 January 2023
Description:  HTML file for the composer component.
-->

<!--creating bootstrap unordered list-->

<div class="row">

    <div class="col-sm-12">

        <ul class="list-group">

            <li class="list-items">Composer ID: {{ composer.composerId }}</li>     <!--lists out the properites of the composer object we created in component-details.-->
            <li class="list-items">Full Name: {{ composer.fullName }}</li>
            <li class="list-items">Genre: {{ composer.genre }}</li>

        </ul>
        <br/>
        <a routerLink="/composer-list" class="float-end">Return to Composers</a>    <!--allow the user to go back to the composer list-->
    </div>

</div>
