/*
Title:  app.component.scss
Author: John Vanhessche
Date 2 February 2023
Description:  SCSS file for the app component.
*/

.logo {
    margin-top: 5px;
}

.main-container {
    padding-top: 25px;
    width: 80%;
    margin: 0 auto;
}